aiofiles==0.4.0
blinker==1.4
Click==7.0
easy-env==0.1.0
h11==0.9.0
h2==3.1.1
hpack==3.0.0
Hypercorn==0.9.0
hyperframe==5.2.0
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
multidict==4.7.4
numpy==1.18.1
Pillow==7.0.0
priority==1.3.0
pyaes==1.6.1
pyasn1==0.4.8
Pygments==2.5.2
python-dotenv==0.10.3
Quart==0.10.0
redis==3.3.11
rsa==4.1
sortedcontainers==2.1.0
Telethon==1.10.10
toml==0.10.0
typing-extensions==3.7.4.1
wsproto==0.15.0
